<template>
    <div class="dropdown dropleft">
        <i class="zmdi zmdi-power zmdi-hc-2x" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton"></i>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id='dropcontain'>
            <div >
                <div><h3>Customer ID: 1010</h3></div>
                    <hr>
                    <img src="https://headoffice.iposg.net/assets/images/logo.png" style="width:100px"/>
                <div><h5>IPOSG SUPPORT TESTING - RETAIL1</h5></div>
                <div><h5>Ashnaz Sadiyan</h5></div>
                            <h6>Ashnassadiyan@gmai.com</h6>
                <div><p>User ID: 1010</p></div><hr>
                <v-btn style="background-color:#f44336;color:white;" v-on:click="signOut()" id="signOut">Sign Out!</v-btn><hr>
                <div><a style="padding:10px" v-on:click="opentab()" id="terms">Terms of Service</a> </div>
    
            </div>
        </div> 
    </div>
</template>
<script>
export default {
    data(){
        return{
            companyInfo:'',
            userId:'',
            UserName:'',
            userEmail:'',
            url:'https://iposg.com/about-us/terms'
        }
    },
    methods:{
        signOut(){
            swal({
                    title: "Are you sure?",
                    text: "would like to logout",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                .then((willDelete) => {
                if (willDelete) {
                    swal("successfully logged out!", {
                    icon: "success",
                    });
                } else {
                    
                }
                });
        },
        opentab(){
            window.open(this.url, "_blank");  
        }
    }
}
</script>
<style scoped>

#signout{
    box-shadow: 0 5px 25px 0 #df9a06 !important ;
    padding: 10px !important;
    background-color: #e7e7e7 !important;
    border-radius: 8px !important;
}
#dropcontain{
    width:250px !important;
    text-align: center !important;
    padding-left:3px !important;
    border-radius: 8px !important;
}
#signOut:hover{
    box-shadow: 0px 5px 25px 0 #f55004 !important;
}
#terms:hover{
    color: blue;
    cursor: pointer;
}

</style>